<div *ngIf="display" class="fixed top-0 bg-font-darkGrey/80 w-full h-full z-[100]">

  <div class="mt-10 bg-font-white rounded-xl top-10 w-[500px] p-5 mx-auto">
    <div class="text-header3 font-bold border-b border-font-darkGrey">
      {{ header }}
    </div>
    <form action="" [formGroup]="detailForm" (ngSubmit)="confirm()">
    <div class="p-4 overflow-y-auto">
      <div class="flex flex-col">
        <label class="text-header6 font-semibold text-font-darkGrey" for="">Date</label>
        <input type="date" class="w-1/2 rounded-xl bg-font-lightGrey/15 px-5 py-2" formControlName="date">
        <span class="text-[0.75rem] text-primary-red" *ngIf="(detailFormGroup['date'].touched|| submitted) && detailFormGroup['date'].errors?.['required']">Date is required</span>
        <!-- <span class="text-[0.75rem] text-primary-red">Password is required</span> -->
      </div>

      <div class="flex flex-col">
        <label class="text-header6 font-semibold text-font-darkGrey" for="">Time</label>
        <input type="time" class="w-1/2 rounded-xl bg-font-lightGrey/15 px-5 py-2" formControlName="time">
        <span class="text-[0.75rem] text-primary-red" *ngIf="(detailFormGroup['time'].touched|| submitted) && detailFormGroup['time'].errors?.['required']">Time is required</span>
      </div>

      <div class="flex flex-col">
        <label class="text-header6 font-semibold text-font-darkGrey" for="">Note</label>
        <textarea type="text" placeholder="Note here..." class="rounded-xl bg-font-lightGrey/15 px-5 py-2" formControlName="note"></textarea>
      </div>
    </div>
    <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t border-font-darkGrey">
      <button (click)="cancel()" type="button" class="hs-dropup-toggle py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" data-hs-overlay="#hs-slide-up-animation-modal">
        Close
      </button>
      <button type="submit" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
        Save
      </button>
    </div>
  </form>
  </div>
</div>

