<div class="fixed top-0 bg-font-darkGrey/80 w-full h-full z-[60]" (click)="onClose()">
</div>

<div class="isi fixed mt-[1rem] ms-[32.3%] bg-font-white h-[26rem] w-[35.4%] rounded-[10px] py-5 px-7 overflow-y-scroll overflow-x-hidden z-[70]">
  <div class="bagAtas flex justify-between items-center pb-3 px-1">
    <div class="font-semibold text-[1.05rem]">
      Transfer
    </div>
    <div class="closeBtn" (click)="onClose()">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 13L7 7L13 13M13 1L6.99886 7L1 1" stroke="#1E1E1E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  </div>
  <div class="line h-[1px] w-full bg-font-lightGrey mb-4"></div>
  <div class="transfer">
    <!-- <form #transferForm="ngForm" (ngSubmit)="onSubmit(transferForm)"> -->
      <div class="inputContainer relative" >
        <label for="bankName" class="inputLabel text-font-darkGrey">Bank Name</label>
        <!-- Select -->
        <select [(ngModel)]="selectedBank" class="inputBox border-[1px]" (change)="validateBankSelection()">
          <option value="novalue" selected disabled>Select Bank Name</option>
          <option value="BRI">BRI</option>
          <option value="Mandiri">Mandiri</option>
          <option value="BCA">BCA</option>
          <option value="Danamon">Danamon</option>
          <option value="BNI">BNI</option>
          <option value="Permata">Permata</option>
          <option value="Maybank">Maybank</option>
          <option value="CIMB">CIMB</option>
          <option value="UOB">UOB</option>
          <option value="OCBC">OCBC</option>
          <option value="Mayapada">Mayapada</option>
          <option value="Sinarmas">Sinarmas</option>
        </select>
        <!-- End Select -->
        <div *ngIf="showError && submitted" class="error-message">Bank name is required.</div>
      </div>
      <div class="inputContainer">
        <label for="accNum" class="inputLabel text-font-darkGrey">Account Number</label>
        <input type="number" id="accNum" name="accNum" class="inputBox border-[1px] text-font-darkGrey" placeholder="Bank Account Number" [(ngModel)]="accNum" required>
        <div *ngIf="!accNum && submitted" class="error-message">Account number is required.</div>
      </div>
      <div class="inputContainer">
        <label for="amount" class="inputLabel text-font-darkGrey">Amount</label>
        <input type="number" id="amount" name="amount" class="inputBox border-[1px] text-font-darkGrey" #amountInput placeholder="Amount" [(ngModel)]="amount" required>
        <div *ngIf="submitted && (amount < 1000 || !amount)" class="error-message">Amount must be at least 1000.</div>
      </div>
    <!-- </form> -->
  </div>
  <button type="submit" class="button bg-blue-80 text-font-white m-auto" (click)="onTransfer(+amountInput.value)">
    Transfer
  </button>
</div>




