<app-header></app-header>
<div class="bantu"></div>

<app-alert-success [display]="createSuccess" [label]="'Project saved successfully'"></app-alert-success>

<app-tab [options]="statusOptions" (id)="getProjectsByStatus($event)"></app-tab>

<div class="container px-20 py-10">
  <div *ngIf="projectList.length == 0" class="container text-center">
    <img src="../../../assets/images/empty project.png" alt="" class="object-cover mx-auto">
    <h1 class="text-header2 font-semibold text-font-darkGrey">Nothing is here yet</h1>
    <h5 class="text-header6 font-medium text-font-lightGrey">Create your first project now</h5>
    <a routerLink="/project/create"  class="bg-blue-80 text-font-white py-2 px-5 rounded-lg mt-5">+ New Project</a>
  </div>

  <div class="grid grid-cols-3 gap-5">

    <app-project-card *ngFor="let item of projectList" [title]="item.title" [project]="item"></app-project-card>
    <!-- <app-project-card></app-project-card>
    <app-project-card></app-project-card> -->
  </div>
</div>
