<div class="bg-font-white rounded-2xl p-5">

  <p class="text-body text-font-darkGrey">Brand name</p>
  <p class="text-header5 font-semibold">Project title</p>
  <div class="flex mt-1 h-10 gap-2">
    <p class="border border-font-darkGrey rounded-full text-smalltext text-font-darkGrey px-1.5 py-0.5 h-fit">Media type</p>
    <p class="border border-font-darkGrey rounded-full text-smalltext text-font-darkGrey px-1.5 py-0.5 h-fit">Media type</p>
    <p class="border border-font-darkGrey rounded-full text-smalltext text-font-darkGrey px-1.5 py-0.5 h-fit">Media type</p>
  </div>
  <div class="border-b border-b-font-lightGrey my-2"></div>
  <div class="flex p-2">
    <img src="../../../../assets/images/empty profile pic.png" alt="" class="rounded-full object-cover w-10 h-10">
    <div class="ms-2">
      <p class="text-body font-medium">&#64;username</p>
      <p class="text-smalltext text-font-darkGrey">follower number</p>
    </div>
    <button class="bg-blue-80 rounded-lg ms-auto text-font-white px-5 py-2">View</button>
  </div>
</div>
