.bantu{
  height: 3.7rem;
}

.foto{
  width: 148px;
  height: 148px;
  /* width: 100%;
  height: 100%; */
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fotoSim{
  width: 64px;
  height: 64px;
  /* width: 100%;
  height: 100%; */
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.foto3{
  width: 225px;
  height: 405px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.foto4{
  width: 198px;
  height: 198px;
  /* 9:16 */
  /* width: 100%;
  height: 100%; */
  /* border-radius: 22px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-size: cover;
}

.foto6{
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-size: cover;
}

.foto5{
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-size: cover;
}

.likes, .views{
  background-color: rgba(242, 244, 240, 0.65);
  /* background-color: rgba(183, 183, 183, 0.6); */
}

/* .fa-star{
  color: #B5B7B4;
}

.checked {
  color: #FFAC33;
}

.half{
  color: #FFAC33;
} */

.checked {
  color:#FFAC33;
  -webkit-text-stroke-width: 0.01rem;
  -webkit-text-stroke-color: #FFAC33;
  font-size: 16px;
}

.nul {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFAC33;
  font-size: 15px;
}

.fa-star-half-full{
  color: #FFAC33;
  -webkit-text-stroke-width: 0.01rem;
  font-size: 16px;
}

.fa{
  margin-right: 3px;
}

.isiFeed{
  line-height: 1.5rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.feedbackBox::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.feedbackBox {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.foto10{
  width: 200px;
  height: 140px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* CSS untuk Influencer Detail di Handphone */
@media screen and (max-width: 568px) {
  .isi{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
  }

  .profileAtas{
    flex-direction: column;
    /* height: 30rem; */
    height: fit-content;
    /* background-color: pink; */
  }

  .profile{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: fit-content;
  }

  .foto{
    width: 74px;
    height: 74px;
  }

  .profPic{
    width: 25%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center
  }

  .profAtasKanan{
    /* background-color: pink; */
    width: 75%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
  }

  .nama{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 4px;
  }

  .svgDetail{
    display: none;
  }

  .garisBantu{
    display: none;
  }

  .textDetail{
    font-size: 0.6rem;
    font-weight: 500;
  }

  .angkaDetail{
    font-size: 1rem;
    font-weight: 600;
  }

  .detail{
    justify-content: space-between;
    padding-left: 0px;
  }

  .name, .bio{
    font-size: 0.7rem;
  }

  .number, .locationName{
    font-size: 0.6rem;
  }

  .profBawah{
    padding-top: 4px;
  }

  .callSvg, .locationSvg{
    width: 15px;
    height: 15px;
  }

  .category{
    margin-top: 17px;
    font-size: 0.6rem;
    max-width: 75%;
    flex-wrap: wrap;
  }

  .profBawah{
    /* background-color: yellow; */
  }

  .profBawahKiri{
    width: 60%;
  }

  .profBawahKanan{
    /* background-color: blue; */
    height: 100%;
    width: 40%;
    margin-top: auto;
    /* height: 10rem; */
  }

  .rating{
    font-size: 0.7rem;
    padding-top: 2px;
  }

  .chatBtn svg,
  .saveBtn svg {
    width: 32px; /* Ubah ukuran sesuai kebutuhan */
    height: 32px;
  }

  .chatBtn,
  .saveBtn {
    width: 32px; /* Sesuaikan ukuran tombol */
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hireBtn{
    padding-left: 25px;
    padding-right: 25px;
    font-size: 0.8rem;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    line-height: 100%;
  }

  .similar{
    width: 100%;
    margin-top: 10px;
  }

  .card{
    /* width: 12.5rem; */
    height: 64px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    flex: 0 0 10.5rem;
    margin-right: 10px;
  }

  .judul{
    font-size: 1rem;
  }

  .fotoSim{
    width: 48px;
    height: 48px;
    margin-right: 2px;
  }

  .nameSim{
    font-size: 0.8rem;
    margin-left: 2px;
  }

  .judulSim{
    margin-left: 10px;
  }

  .categorySim{
    font-size: 0.6rem;
    margin-left: 2px;
  }

  .responsiveHelper{
    display: flex;
    overflow-y: hidden;
  }

  .averageSection{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.75rem;
  }

  .averageSection{
    font-size: 1.5rem;
  }

  .averageSection .text{
    font-size: 0.65rem;
  }

  .accGraph{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0.75rem;
  }

  .accGraph .text{
    font-size: 0.8rem;
  }

  .audGraph{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0.75rem;
  }

  .audGraph .text{
    font-size: 0.8rem;
  }

  .topCities{
    height: 20rem;
  }

  .dataOnlFoll{
    display: none;
  }

  .judulContent{
    font-size: 0.8rem;
  }

  .isiContent{
    flex-direction: column;
  }

  .feedsPict{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.75rem;
  }

  .foto4{
    /* width: 100%; */
    width: 162px;
    height: 162px;
    /* aspect-ratio: 1/1; */
    /* height: 198px; */
  }

  .rightContent{
    width: 100%;
    padding-left: 0.5rem;
    /* background-color: purple; */
    margin-top: 15px;
  }

  .leftContent{
    width: 100%;
    margin-bottom: 15px;
  }

  .foto6{
    width: 200px;
    height: 200px;
  }

  .plch{
    font-size: 0.8rem;
  }

  .topCitiesRight{
    display: none;
  }

  .isiStory{
    margin-top: 10px;
  }

  .rspn{
    width: 100%;
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
  }

  .allBox{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0.75rem;
  }

  .priceBox{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    height: fit-content;
  }

  .priceType{
    font-size: 0.9rem;
  }

  .priceNominal{
    font-size: 1.2rem;
    margin-top: 4px;
  }

  .priceDesc{
    font-size: 0.65rem;
    margin-top: 8px;
  }

  .prevv{
    flex-direction: column;
  }

  .workKiri, .workKanan{
    width: 100%;
  }

  .rateBar, .reviewBar{
    font-size: 0.65rem;
  }

  .workKiri .text{
    font-size: 0.8rem;
  }

  .text2, .review{
    font-size: 0.65rem;
  }

  .rateBar, .garisBar{
    margin-right: 8px;
  }

  .rateAngka{
    font-size: 1.2rem;
  }

  .avgRating{
    height: fit-content;
  }

  .workKanan{
    margin-left: 0px;
    width: 100%;
    padding-top: 15px;
  }

  .starsvg svg {
    width: 16px;
    height: 16px;
  }

  .locationSvg svg{
    width: 16px;
    height: 16px;
  }

  .callSvg svg{
    width: 16px;
    height: 16px;
  }

  .cat1{
    margin-bottom: 2px;
  }

  /* .nameFeed{
    font-size: 0.8rem;
  }

  .dateFeed, .isiFeed{
    font-size: 0.7rem;
  } */


}
