<app-header></app-header>

<div class="w-[100%]">
    <div class="h-[4rem]"></div>
    <div class="w-full flex">
        <div class="w-[55%] h-auto">
            <div class="w-full h-full flex flex-col justify-center items-start ml-[25%]">
                <span class="text-title text-black font-bold text-left">
                    Fluency
                </span>
                <span class="text-header6 text-black text-left">
                    Fluency is a powerful platform that helps brands <br>
                    discover top influencers and manage <br>
                    collaborations effortlessly
                </span>
                <button class="mt-[5%] px-6 py-3 text-white bg-yellow-80 hover:bg-yellow-60 rounded-lg shadow-md transition duration-300">
                    Find influencer now
                </button>
            </div>
        </div>
        <div class="w-[45%] h-auto">
            <img src="assets/landing-page/landing-page-1.png" class="w-[90%]">
        </div>
    </div>
    <div class="w-full h-[90vh] bg-blue-100 rounded-[15vh] flex flex-col justify-center items-center">
        <span class="text-header1 text-white font-bold text-left mb-[7vh]">
           Key Features For Brand
        </span>
        <div class="w-full h-auto flex justify-evenly">
            <div class="w-[50.2vh] h-[50vh] bg-white rounded-lg">

            </div>
            <div class="w-[50.2vh] h-[50vh] bg-white rounded-lg">

            </div>
            <div class="w-[50.2vh] h-[50vh] bg-white rounded-lg">

            </div>
        </div>
        <div class="h-[5vh] mb-[10vh]"></div>
    </div>
    <div>12321</div>
    <div>12321</div>
    <div>12321</div>
    <div>12321</div>
    <div>12321</div>
    <div>12321</div>
    <div>12321</div>
    <div>12321</div>
</div>
