<app-header></app-header>

<div class="w-[100%]">
    <div class="h-[4rem]"></div>
    <div class="w-full flex">
        <div class="w-[55%] h-auto">
            <div class="w-full h-full flex flex-col justify-center items-start ml-[25%]">
                <span class="text-title text-black font-bold text-left">
                    Fluency
                </span>
                <span class="text-header6 text-black text-left">
                    Fluency is a powerful platform that helps brands <br>
                    discover top influencers and manage <br>
                    collaborations effortlessly
                </span>
                <a routerLink="/signup" class="mt-[5%] px-6 py-3 text-white bg-yellow-80 hover:bg-yellow-60 rounded-lg shadow-md transition duration-300">
                    Register Now
                </a>
            </div>
        </div>
        <div class="w-[45%] h-auto">
            <img src="assets/landing-page/landing-page-1.png" class="w-[90%]">
        </div>
    </div>
    <div class="h-5"></div>
    <div class="w-full h-auto bg-white rounded-[15vh] flex flex-col justify-center items-center">
        <div class="w-full h-auto bg-blue-100 rounded-t-[15vh] flex flex-col justify-center items-center py-16 relative">
            <span class="text-header1 text-white font-bold text-left my-10">
               Key Features For Brand
            </span>
            <div class="w-full h-auto flex justify-evenly">
                <div class="flex gap-16">
                    <div class="relative bg-white p-6 rounded-2xl shadow-lg w-72 h-72 flex flex-col">
                        <div class="absolute -top-3 right-7 bg-pink-300 w-12 h-12 rounded-full"></div>
                        <div class="h-20 flex items-start">
                            <h2 class="font-bold leading-tight text-header3 mt-5 flex items-start">Performance <br> Analytics</h2>
                        </div>
                        <div class="h-auto mt-6">
                            <span class=" text-header6">
                                Track and measure the success <br> of your campaigns with real- <br>time insights and sentiment <br> analysis.
                            </span>
                        </div>
                    </div>
                    <div class="relative bg-white p-6 rounded-2xl shadow-lg w-72 h-72 flex flex-col">
                        <div class="absolute -top-3 right-7 bg-purple-300 w-12 h-12 rounded-full"></div>
                        <div class="h-20 flex items-start">
                            <h2 class="font-bold leading-tight text-header3 mt-5 flex items-start">Influencer <br> Recommendation</h2>
                        </div>
                        <div class="h-auto mt-6">
                            <span class=" text-header6">
                                Get personalized influencer <br> recommendations based on <br> your brand’s goals and target <br> audience.
                            </span>
                        </div>
                    </div>
                    <div class="relative bg-white p-6 rounded-2xl shadow-lg w-72 h-72 flex flex-col">
                        <div class="absolute -top-3 right-7 bg-green-300 w-12 h-12 rounded-full"></div>
                        <div class="h-20 flex items-start">
                            <h2 class="font-bold leading-tight text-header3 mt-5 flex items-start">Seamless <br> Payments</h2>
                        </div>
                        <div class="h-auto mt-6">
                            <span class=" text-header6">
                                Enjoy secure, hassle-free <br> transactions with integrated <br> payment options for effortless <br> collaborations.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full h-auto bg-blue-100">
            <div class="w-full h-auto bg-white rounded-t-[15vh] flex flex-col justify-center items-center">
                <div class="flex w-full items-center my-40">
                    <div class="absolute flex items-start justify-start z-0">
                        <img src="assets/landing-page/landing-page-2.png" class="w-[50rem] object-cover rounded-tl-sm mt-11">
                    </div>
                    <div class="w-[50%]">
                    </div>
                    <div class="w-auto z-10">
                        <h2 class="text-header2 font-bold text-black">Are you an influencer with more <br> than 1000 followers on <br> Instagram?</h2>
                        <div class="my-4 font-semibold">
                            Fluency is a powerful platform that helps brands discover top <br> influencers and manage collaborations effortlessly.
                        </div>
                        <div class="h-5"></div>
                        <a routerLink="signup/influencer/profile" class="px-6 py-3 text-white bg-blue-80 hover:bg-blue-400 rounded-lg shadow-md transition duration-300">
                            Join Us Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full h-auto bg-white">
            <div class="w-full h-auto bg-[#C5D2FF] rounded-t-[15vh] flex flex-col justify-center items-center py-16 relative">
                <h2 class="text-header1 text-black font-bold text-center w-[90%] mb-10 -mt-10">
                    Benefits for Influencers
                </h2>
                <img src="assets/landing-page/landing-page-3.png" class="absolute w-96 right-5 top-2">
                <div class="w-full flex justify-evenly relative">
                    <div class="flex gap-10">
                        <div class="bg-[#0E1A2B] text-white p-6 rounded-2xl shadow-lg w-80 h-auto flex flex-col justify-center items-start">
                            <div class="h-20 flex items-start">
                                <span class="font-bold text-left text-header3 mt-5">Access to brand <br> opportunities</span>
                            </div>
                            <span class="text-header6 text-left mt-10 mb-20">
                                Discover exciting <br>collaborations with leading <br> brands
                            </span>
                        </div>
                        <div class="bg-[#0E1A2B] text-white p-6 rounded-2xl shadow-lg w-80 h-auto flex flex-col justify-center items-start">
                            <div class="h-20 flex items-start">
                                <span class="font-bold text-left text-header3 mt-5">Increase exposure <br> and reach</span>
                            </div>
                            <span class="text-header6 text-left mt-10 mb-20">
                                Expand your audience and <br> grow your influence
                            </span>
                        </div>
                        <div class="bg-[#0E1A2B] text-white p-6 rounded-2xl shadow-lg w-80 h-auto flex flex-col justify-center items-start">
                            <div class="h-20 flex items-start">
                                <span class="font-bold text-left text-header3 mt-5">Performance <br> insights</span>
                            </div>
                            <span class="text-header6 text-left mt-10 mb-20">
                                Track your campaign success <br> with real-time analytics
                            </span>
                        </div>
                    </div>
                </div>
                <div class="h-5">
                </div>
            </div>
        </div>
        <div class="w-full h-auto bg-[#B2CCFF]">
            <div class="w-full h-auto bg-white rounded-t-[15vh] flex flex-col justify-center items-center py-10 relative">
                <h2 class="font-bold text-black mb-10 text-header1">Join the Journey</h2>
                <div class="w-[90%] flex gap-8 justify-center">
                    <div class="relative w-[45%] h-60 rounded-xl overflow-hidden shadow-lg">
                        <img src="assets/landing-page/landing-page-4.png" class="w-full h-full object-cover">
                        <div class="absolute inset-0 bg-black opacity-40"></div>
                        <div class="absolute inset-0 flex flex-col justify-end p-6 text-white">
                            <span class="font-bold text-header3">Brand</span>
                            <span class="text-header6 mt-1">
                                Scale up your business with influencer-powered campaigns that drive growth and boost brand visibility.
                            </span>
                            <a routerLink="signup/brand/profile" class="mt-3 text-white font-semibold flex items-center gap-2 text-header6">
                                learn more →
                            </a>
                        </div>
                    </div>
                    <div class="relative w-[45%] h-60 rounded-xl overflow-hidden shadow-lg">
                        <img src="assets/landing-page/landing-page-5.png" class="w-full h-full object-cover">
                        <div class="absolute inset-0 bg-black opacity-40"></div>
                        <div class="absolute inset-0 flex flex-col justify-end p-6 text-white">
                            <span class="font-bold text-header3">Influencer</span>
                            <span class="text-header6 mt-1">
                                Showcase your talent, collaborate with leading brands, and inspire audiences worldwide.
                            </span>
                            <a routerLink="" class="mt-3 text-white font-semibold flex items-center gap-2 text-header6">
                                learn more →
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-[90%] flex flex-col items-center mb-16 mt-20">
                    <h2 class="text-header2 font-bold text-black text-center mb-2">Starting Projects Made Easy</h2>
                    <span class="text-center text-header6 font-semibold">
                        Fluency made it easier to find influencers, manage your projects,<br> and analyze the result
                    </span>
                    <div class="flex w-full justify-between items-center">
                        <div class="w-[50%] flex flex-col gap-6">
                            <div class="flex items-center bg-[#91A9FD] bg-opacity-10 p-4 rounded-xl shadow-md w-full justify-center">
                                <img src="assets/landing-page/landing-page-icon-1.png" class="w-20">
                                <div class="ml-4">
                                    <div class="font-bold text-header6 mb-1">Find Influencer<br></div>
                                    <span class="text-header6">
                                        Make full use of recommendations, filters, and analytics to find the best influencer for your business.
                                    </span>
                                </div>
                            </div>
                            <div class="flex items-center bg-[#91A9FD] bg-opacity-10 p-4 rounded-xl shadow-md w-full justify-center">
                                <img src="assets/landing-page/landing-page-icon-2.png" class="w-20">
                                <div class="ml-4">
                                    <div class="font-bold text-header6 mb-1">Create Project<br></div>
                                    <span class="text-header6">
                                        Create new projects, give some details, finish payment, and it's good to go.
                                    </span>
                                </div>
                            </div>
                            <div class="flex items-center bg-[#91A9FD] bg-opacity-10  p-4 rounded-xl shadow-md w-full justify-center">
                                <img src="assets/landing-page/landing-page-icon-3.png" class="w-20">
                                <div class="ml-4">
                                    <div class="font-bold text-header6 mb-1">Analyze Result<br></div>
                                    <span class="text-header6">
                                        We provide analytics such as engagement, reach, and sentiment analysis to help you measure the result.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="w-[40%]">
                            <img src="assets/landing-page/landing-page-6.png" alt="Projects Illustration" class="w-full">
                        </div>
                    </div>
                </div>
                <div class="w-[90%] flex flex-col items-center mt-5">
                    <h2 class="text-header2 font-bold text-black text-center mb-2">From Start to Success</h2>
                    <span class=" text-center font-semibold">
                        Turn your influence into income in three easy steps
                    </span>
                    <div class="flex w-full justify-between items-center">
                        <div class="w-[40%]">
                            <img src="assets/landing-page/landing-page-7.png" class="w-full">
                        </div>
                        <div class="w-[50%] flex flex-col gap-6">
                            <div class="flex items-center bg-[#F0A7EC] bg-opacity-10 p-4 rounded-xl shadow-md w-full">
                                <img src="assets/landing-page/landing-page-icon-4.png" class="w-20">
                                <div class="ml-4">
                                    <div class="font-bold text-header6 mb-1">Sign Up with Instagram<br></div>
                                    <span class="text-header6">
                                        Make full use of recommendations, filters, and analytics to find the best influencer for your business.
                                    </span>
                                </div>
                            </div>
                            <div class="flex items-center bg-[#F0A7EC] bg-opacity-10 p-4 rounded-xl shadow-md w-full">
                                <img src="assets/landing-page/landing-page-icon-5.png" class="w-20">
                                <div class="ml-4">
                                    <div class="font-bold text-header6 mb-1">Accept Project Invitation<br></div>
                                    <span class="text-header6">
                                        Create new projects, give some details, finish payment, and it's good to go.
                                    </span>
                                </div>
                            </div>
                            <div class="flex items-center bg-[#F0A7EC] bg-opacity-10 p-4 rounded-xl shadow-md w-full">
                                <img src="assets/landing-page/landing-page-icon-6.png" class="w-20">
                                <div class="ml-4">
                                    <div class="font-bold text-header6 mb-1">Upload the Result<br></div>
                                    <span class="text-header6">
                                        We provide analytics such as engagement, reach, and sentiment analysis to help you measure the result.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full h-auto bg-white">
            <div class="w-full bg-blue-60 rounded-t-[15vh] flex flex-col justify-center items-center py-10 relative mt-20">
                <h2 class="text-header2 font-bold text-white mb-6">What they say about us</h2>

                <div class="relative w-[70%] flex justify-center items-center mt-10">
                    <button (click)="prevSlide()" class="w-10 h-10 absolute left-4 bg-white rounded-full shadow-md hover:bg-gray-200 transition flex justify-center items-center">
                        <svg class="w-6 h-6 text-blue-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="15 5 8 12 15 19"></polyline>
                        </svg>
                    </button>
                    <div class="w-full h-auto flex items-center gap-6 px-20">
                        <div class="flex items-center justify-center rounded-3xl min-w-64 min-h-64 max-w-64 max-h-64">
                            <img [src]="testimonials[currentIndex].img" class="rounded-3xl object-cover min-w-64 min-h-64 max-w-64 max-h-64">
                        </div>
                        <div class="flex flex-col justify-between items-start h-64 text-header4">
                            <span class="text-white font-semibold text-header6">
                                {{ testimonials[currentIndex].text }}
                            </span>
                            <div>
                                <span class="text-white font-semibold mt-4 text-header4">
                                    {{ testimonials[currentIndex].name }}
                                </span>
                                <div class="text-yellow-400 mt-1">
                                    <img [src]="testimonials[currentIndex].rating" class="w-40 object-cover">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button (click)="nextSlide()" class="w-10 h-10 absolute right-4 bg-white rounded-full shadow-md hover:bg-gray-200 transition flex justify-center items-center">
                        <svg class="w-6 h-6 text-blue-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="9 5 16 12 9 19"></polyline>
                        </svg>
                    </button>
                </div>
                <div class="h-5"></div>
            </div>
        </div>
    </div>

    <div class="relative w-full h-auto">
        <img src="assets/about-us/about-us-5.png" class="w-full h-auto">
        <div class="absolute w-full h-full flex flex-col justify-center items-center top-0">
          <span class="text-header1 text-white font-bold text-center">
            Be Part of Our Big Community
          </span>
          <a href="signup" class="mt-5 px-8 py-5 text-blue-60 bg-white hover:bg-blue-60 hover:text-white rounded-lg shadow-md transition duration-300 font-bold text-header4">
            Get Started Now
        </a>
        </div>
      </div>

    <div class="w-full h-[60vh] bg-blue-100 flex flex-col items-center justify-center">
        <div class="w-4/5 border-b-2 h-[60vh] flex justify-evenly items-center">
            <div class="w-1/2 h-[40vh]">
            <span class="w-full text-title font-bold text-white">LOGO</span>
            </div>
            <div class="w-1/6 h-[40vh] flex flex-col items-start justify-start">
                <span class="w-full text-header3 font-bold text-white mb-4">Get Started</span>
                <a routerLink="signup/brand/profile" class="w-full text-header5 text-white my-2">For Brand</a>
                <a (click)="signUp()" class="w-full text-header5 text-white my-2 cursor-pointer">For Influencer</a>
                <a routerLink="signup"  class="w-full text-header5 text-white my-2">Sign Up</a>
                <a routerLink="login"  class="w-full text-header5 text-white my-2">Login</a>
            </div>
            <div class="w-1/6 h-[40vh] flex flex-col items-start justify-start">
                <span class="w-full text-header3 font-bold text-white mb-4">Company</span>
                <a href="about-us" class="w-full text-header5 text-white my-2">About Us</a>
                <span class="w-full text-header5 text-white my-2">Contact</span>
                <span class="w-full text-header5 text-white my-2">Features</span>
                </div>
                <div class="w-1/6 h-[40vh] flex flex-col items-start justify-start">
                <span class="w-full text-header3 font-bold text-white mb-4">Follow Us</span>
            </div>
        </div>
        <span class="text-header6 text-white text-center my-5">
            Fluency 2024
        </span>
    </div>
</div>
