.bantu{
  height: 3.7rem;
}

.foto{
  margin: 0;
  /* width: 100%; */
  /* height: 17.8rem; */
  /* height: 13.55rem; */
  /* border-top-left-radius: 10px; */
  /* border-bottom-left-radius: 10px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* overflow: hidden; */
  /* box-sizing: content-box; */
}
