.bantu{
  height: 3.7rem;
}

.bawah{
  padding-left: 4.3%;
  padding-right: 4.3%;
}

.kiri{
  /* height: 50rem; */
  width: 29.6%;
  /* background-color: blue; */
}

.kanan{
  width: 70.4%;
  /* background-color: pink; */
}

.judul{
  font-size: 1.6rem;
}

.line{
  background-color: rgb(73, 79, 80, 0.3);
}

.filterChoice{
  background-color: rgba(148, 156, 158, 0.1);
}

.filterChoice:hover{
  background-color: #91A9FD;
}

.active-filter{
  background-color: #91A9FD;
  /* background-color: pink; */

}

.inactive-filter{
  /* background-color: pink; */
  /* background-color: pink; */
  /* background-color: white; */

}



