<app-header></app-header>
<div class="bantu"></div>
<app-tab></app-tab>
<div class="bawah flex flex-row w-full mb-16">
  <div class="kiri">

  </div>
  <div class="kanan">
    <div class="judul font-semibold my-5">
      Influencers
    </div>
    <div class="cardBox grid grid-cols-3 gap-7">
      <app-influencer-card></app-influencer-card>
      <app-influencer-card></app-influencer-card>
      <app-influencer-card></app-influencer-card>
      <app-influencer-card></app-influencer-card>
      <app-influencer-card></app-influencer-card>

    </div>
  </div>
</div>
